<tr id= "<%= dom_id(movie) %>">
  <td id="<%= dom_id(movie) %>_title"><%= movie.title %></td>
  <td id="<%= dom_id(movie) %>_description"><%= movie.description %></td>
  <td id="<%= dom_id(movie) %>_duration"><%= pluralize(movie.duration, 'minute') %> </td>
  <td id="<%= dom_id(movie) %>_year"><%= movie.year %></td>
  <td id="<%= dom_id(movie) %>_name"><%= movie.director.name %></td>
  <td><%= link_to 'Edit', edit_movie_path(movie), remote: true %></td>
  <td><%= link_to 'Destroy', movie, method: :delete, data: { confirm: 'Are you sure?' }, remote: true %></td>
</tr>
